  
    body{
        background-image: linear-gradient(to left, rgb(54, 50, 50),rgb(121, 118, 118)); 
    }

    .responsividade-cetral-do-conteudo{
        background-color: #333333;
        width: 907px;
        height: 820px;
        margin: auto;
        justify-items: center;
    }

    .main-principal{
        background-color: #333333;
        width: 907px;
        height: 820px;
        margin-top: 140px;
        border-radius: 3px;
        padding: 20px; 
    }

    .formulário-e-serviços{
        display: flex;
    }

    .formulário{
        background-color: rgb(235, 232, 232);
        width: 444px;
        height: 541px;
        border-radius: 10px;
        padding: 15px;
        margin-left: 15px;
    }   

    .logo-suap{   
        margin: auto; 
        width: 180px;
        padding-top: 70px ;
        padding-left: 140px;   
    }

    .formulário-dados-de-entrada{
    margin-top: 30px;
    }

    .formulário-inputs{
        width: 340px;
        height: 36px;
        border-radius: 3px;
        font-size: 17px;
        padding-left: 5px;
        margin-left: 48px;
        border-color: rgb(219, 211, 211);
    }

    .formulário-inputs:focus{ 
    background-color: #E8F0FE ;  
    border: 1px solid#449D44;
    outline: 1px  solid #449D44;
    }

    .formulário-butt{
        margin-top: 35px;
        border-radius: 23px;
        margin-left: 50px;
        height: 44px; 
        width:350px;
        background-color: #449D44;
        color: aliceblue;
        border: #449D44; 
        cursor: pointer;
    }

    .main-direito{
        margin-left: 30px;
    }

    .titulo-main-direito{
        color: #a8a4a4;
        font-size: 27px;
        font-family: "Lato", sans-serif;
        font-weight: 300;
        margin-top: 21px;
    }

    .sub-titulo-main-direito{
        display: flex;    
    }

    .sub-sub-titulo-main-direito{
        font-size: 15px;
        color: rgb(228, 228, 228);
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 0%;
        margin-top: 20px;
        margin-left: 0px;
        transition: color 0.5s ease;
    }

    .sub-sub-titulo-main-direito:hover{
        color: #449D44;
    }

    .nome-dos-inputs{
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(131, 129, 129);
        font-weight: normal;
        padding-left: 47px;
        padding-top: 5px;  
    }

    .exportaçao-para-outro-site{
        text-decoration: none;
        color: #3b883b;
        margin-left: 50px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 12px;
    }

    .rodapé-final-paragrafo{
        text-align: center;
        color: #cdc9c9;
        margin: 23px;
        font-size: 13px;
    } 





